// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

ul {
  &.pagination {
    justify-content: center;
  }
}

.cards {
  .card {
    border: 2px solid $blue;
    max-width: 700px;
  }
}
img.img-fluid {
  max-height: 400px;
  max-width: 500px;
}